<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smellgood">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmellGood">

        <activity
            android:name=".Main"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Game" android:screenOrientation="portrait"/>
        <activity android:name=".ScoreBoard" android:screenOrientation="portrait"/>
        <activity android:name=".Profile" android:screenOrientation="portrait"/>
        <activity android:name=".RegisterActivity" android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Shop" android:screenOrientation="portrait"/>
        <activity android:name=".ResetPassword" android:screenOrientation="portrait"/>
        <activity android:name=".ResetPasswordLogged" android:screenOrientation="portrait"/>
        <activity android:name=".NoInternet" android:screenOrientation="portrait"/>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>